*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex{
    display:flex;
}

/*header*/
header{
    background-color:dodgerblue;
}

.container
{
    margin:0 auto;
}

.navigation{
    display:flex;
    justify-content: space-around;
    color:white;
    font-size:30px;
}

.menu-container button {
    color: white;
    background-color: transparent;
    border: 0;
  }
  /*/header*/
  /*main*/

main{
    display: flex;
    flex-direction: column;
}

.sez-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 117, 117);
}

  #demo-application{
      padding: 28px 20px;
      margin:20px 0px;
      border-radius: 50px;
      background-color: red;
     
  }

  #clean-code{
    padding: 28px 20px;
    margin:20px 0px;
    border-radius: 50px;
    background-color: red;
  }

  #web-design{
    background-color: salmon;
  }

  #development{
    background-color: violet;
  }


  #branding{
background-color:chartreuse;
  }