*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex{
    display:flex;
}

/*header*/
header{
    background-color:dodgerblue;
}

.container
{
    margin:0 auto;
}

.navigation{
    display:flex;
    justify-content: space-around;
    color:white;
    font-size:30px;
}

.menu-container button {
    color: white;
    background-color: transparent;
    border: 0;
  }
  /*/header*/
  /*main*/

main{
    display: flex;
    flex-direction: column;
}

.sez-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 20px;
}

.card{
    display: flex;
    flex-direction: column;
   /* background-color: rgb(6, 117, 117);*/
}

.card h1, .card p{
    margin-bottom:10px;
}

  #demo-application{
    display: flex;
    flex-direction: column;
      padding: 28px 20px;
      margin:20px 0px;
      border-radius: 50px;
      background-color:#9cd3f2;
  }
 
  #demo-application img{
      width:50%;
      margin-top:10px;
  }

  #clean-code{
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    margin:20px 0px;
    border-radius: 50px;
    background-color: #caf0db;
  }

  #web-design{
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    margin:20px 0px;
    border-radius: 50px;
    background-color: #fed2d1;
  }

  #development{
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    margin:20px 0px;
    border-radius: 50px;
    background-color: #ffe7c3;
  }


  #branding{
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    margin:20px 0px;
    border-radius: 50px;
    background-color:#d5d4f4;
  }

.strategic-planning{
      display:flex;
      flex-direction: column;
      padding:0px 20px;
      background-color: aquamarine;
  }

  .strategic-planning-content{
    display: flex;
    flex-direction: column;
    background-color: yellow;;
  }

  #computer{
    background-color: red;
    padding:20px 20px;
  }

  #computer img{
    width:50%;
  }

  #testo{
    padding:20px 20px;
  }

  #app-development{
    padding:20px 20px;
  }